@use "../utils/variables" as *;
@use "../utils/include-media" as *;
@use "../utils/mixins" as *;

.header {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  & .textContainer {
    position: relative;
    width: 100vw;
    height: 100vh;
  }
  .textLine {
    font-size: 50px;
    font-weight: 600;

    @include media(">=tablet") {
      font-size: 120px;
    }
    @include media(">=mindesk") {
      font-size: 180px;
    }
  }

  .textLine text {
    font-family: "ClashDisplay-Variable", "ClashDisplay-Extralight",
      "ClashDisplay-Medium", "ClashDisplay-Semibold", "ClashDisplay-Bold",
      sans-serif;
    font-weight: 600;
    font-style: normal;
    letter-spacing: 2px;
  }
  svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }

  svg:nth-of-type(2) {
    margin-top: -10px;
    opacity: 0.6;
  }

  svg:nth-of-type(3) {
    margin-top: -20px;
    opacity: 0.4;
  }
  svg:nth-of-type(4) {
    margin-top: -30px;
    opacity: 0.2;
  }
  svg:nth-of-type(5) {
    margin-top: -40px;
    opacity: 0.1;
  }
}
