@use "./utils/variables" as *;
@use "./utils/include-media" as *;
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap");
@import url("clash-display.css");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-behavior: smooth !important;
}

body {
  width: 100%;
  background-color: $clr-white;
  box-sizing: border-box;
  font-family: "ClashDisplay-Variable", "ClashDisplay-Extralight",
    "ClashDisplay-Medium", "ClashDisplay-Semibold", "ClashDisplay-Bold", "Inter",
    sans-serif;
  font-weight: 400;
  line-height: 1.2;
  text-rendering: optimizeLegibility;
  color: $clr-white;
  background-color: $clr-black;
  scroll-behavior: smooth !important;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lighten($color: #555, $amount: 10%);
}

a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.row {
  padding: 0 2rem;
  max-width: 144rem;
  margin: 0 auto;
  @include media(">=mindesk") {
    padding: 0 6rem;
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
